body {
    /* Background pattern from Toptal Subtle Patterns */
    background: url(image/binding_dark.png);
    color: azure;
}

.h3List {
    margin-left: 10%;
    margin-top: 1%;
}

.h3Form {
    margin-top: 1%;
}