<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Product Owner</title>
</head>
<body>
<h3 class="h3List">Product Owner Teammates</h3>
<hr style="height: 3px">

<div class="container">
    <table class="table table-bordered text-light">
        <thead class="thead-dark">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Surname</th>
            <th class="text-center">Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="teamMember : ${team}">
            <td th:text="${teamMember.name}" class="text-center"/>
            <td th:text="${teamMember.surname}" class="text-center"/>
            <td th:text="${teamMember.email}" class="text-center"/>
        </tr>
        </tbody>
    </table>
    <hr>
    <a th:href="@{/product_owner/all}" class="link-success">Back to product owners list</a>
</div>

</body>
</html>